/* Variables */
:root {
    --main-color: #2196f3;
    --main-color-hover: #1787e0;
    --main-transition:0.3s;
}
/* Start Components */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
html {
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
/* End Components */
/* Start Heading Section */
header {
    background-color: white;
    box-shadow: 0 0 10px #DDD;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container > a {
    color: var(--main-color);
    font-size: 25px;
    font-weight: 900;
    height:74px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .container > ul {
    display: flex;
}
header .container > ul > li a {
    color: black;
    padding: 0 25px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 74px;
    text-transform: capitalize;
    transition: var(--main-transition) linear;
}

header .container > ul > li a:hover {
    color: var(--main-color);
}
/* End Heading Section */
/* Extra Small */
@media (max-width: 576px) {
    .container {
        width: 95%;
    }
}
/* Small (sm) ≥576px */
@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}
/* Medium (md) ≥768px */
@media (min-width: 769px) {
    .container {
        width: 720px;
    }
}
/* Large (lg) ≥992px */
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}
/* Extra large (xl) ≥1200px */
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}
/* Extra extra large (xxl) ≥1400px */
@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}