/* Variables */
:root {
    --main-color: #2196f3;
    --main-color-hover: #1787e0;
    --main-transition: 0.3s;
    --text-main-color: #666;
    --main-animation-duration: 3s;
}
/* Start Components */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Importing the font family */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
body {
    font-family: "Cairo", sans-serif;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
html {
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.main-title {
    
}
/* End Components */
/* Start Heading Section */
header {
    background-color: white;
    box-shadow: 0 0 10px #DDD;
    position: relative;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
@media (max-width: 769px) {
    header .container {
        flex-direction: column;
    }
}
header .container > a {
    color: var(--main-color);
    font-size: 25px;
    font-weight: 700;
    height:74px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--main-transition);
}
@media (max-width: 769px) {
    header .container > a {
        height: 45px;
    }
}
header .container > a:hover {
    color: var(--main-color-hover);
}
header .container > .main-heading {
    display: flex;
}
header .container > .main-heading > li > a {
    color: black;
    padding: 0 25px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 74px;
    text-transform: capitalize;
    transition: var(--main-transition) linear;
}
@media (max-width: 769px) {
    header .container > .main-heading > li > a {
        height: 45px;
        padding: 0 10px;
        text-align: center;
    }
}

header .container > .main-heading > li > a:hover {
    color: var(--main-color);
}
header .container > .main-heading > li > a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--main-color);
    height: 4px;
    width: 0;
    transition: var(--main-transition) ;
}
@media (min-width: 769px) {
    header .container > .main-heading > li > a::before {
        top: 0;
    }
}
header .container > .main-heading > li > a::after {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #fafafa;
    z-index: -1;
    transition: var(--main-transition);
}
header .container > .main-heading > li:last-child a i{
    margin-left: 8px;
    position: relative;
    top: 2px;
}
header .container > ul > li > a:hover::before, header .container > ul > li > a:hover::after {
    width: 100%;
}
/* Start Mega Menu */
header .container > .main-heading > li:last-child:hover .mega-menu{
    opacity: 1;
    z-index: 1;
    top: calc(100% + 2px);
}
header .mega-menu {
    display: flex;
    opacity: 0;
    position: absolute;
    top: calc(100% + 80px);
    left: 0;
    width: 100%;
    background: white;
    gap: 50px;
    z-index: -1;
    padding: 20px;
    border-bottom: 4px solid var(--main-color);
    transition: var(--main-transition);
}
@media (max-width:769px) {
    header .mega-menu {
        flex-direction: column;
        gap:0;
        padding: 0;
    }   
}
header .mega-menu .img-other {
    max-width: 600px;
}
@media (max-width: 992px) {
    header .mega-menu .img-other {
        display: none;
    }
}
header .mega-menu .img-other img{
    max-width: 100%;
}
header .mega-menu .links {
    flex: 1;
    min-width: 240px;
}
header .mega-menu .links li a {
    color: var(--main-color);
    display: block;
    padding: 20px;
    font-weight: bold;
    text-transform: capitalize;
    transition: var(--main-transition);
}
@media (max-width: 992px) {
    header .mega-menu .links li a {
        padding:12px;
    }
}
header .mega-menu .links li a:hover {
    background-color: #f3f3f3;
}
header .mega-menu .links li:not(:last-child) a {
    border-bottom: var(--text-main-color) solid 1px;
}
@media (max-width: 769px) {
    header .mega-menu .links:first-of-type li a {
    border-bottom: var(--text-main-color) solid 1px;
}
}
header .mega-menu .links li a i{
    margin-right: 15px;
}
/* End Mega Menu */
/* End Heading Section */
/* Start Landing Section */
.landing {
    position: relative;
    height: calc(100vh - 74px );
}
.landing::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0;
    width: 100%;
    transform: skewY(-6deg);
    transform-origin: left top;
    height: 100%;
    background-color: #ececec;
}
@media (max-width: 769px) {
    .landing::before {
        transform: skewY(-16deg);
        top: -47px;
    }
}
.landing .container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}
.landing .text-landing {
    flex: 1;
}
@media (max-width: 992px) {
    .landing .text-landing {
        text-align: center;
    }
}
.landing .text-landing h1 {
    text-transform: capitalize;
    margin: 0 0 10px 0;
    letter-spacing: -2px;
}
.landing .text-landing p {
    color: var(--text-main-color);
    line-height: 1.6;
    letter-spacing: 1px;
}
.landing .img-lsection {
    width: 500px;
}
@media (max-width: 992px) {
    .landing .img-lsection {
        display: none;
    }
}
.landing .img-lsection img {
    max-width: 100%;
    animation: up-down var(--main-animation-duration) alternate infinite linear;
}
.landing a {
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--main-color);
    transition: var(--main-transition);
    animation: bouncing var(--main-animation-duration) infinite linear;
}
@media (max-width: 769px) {
    .landing a {
        bottom: 53px;
    }
}
.landing a:hover {
    color: var(--main-color-hover);
}
.landing a i {
    font-size: 30px;
}
/* End Landing Section */
/* Start Articles Section */

/* End Articles Section */


/* Animations section */
@keyframes up-down {
    from {
        transform: translateY(20px);
    }
    to {
        transform: translateY(-20px);
    }
}
@keyframes bouncing {
    0%,
    10%,
    20%,
    30%,
    40%,
    50%,
    70%,
    90%,
    100% {
        transform: translateY(0);
    }
    60%,80% {
        transform: translateY(10px);
    }
}







/* Extra Small */
@media (max-width: 576px) {
    .container {
        width: 95%;
    }
}
/* Small (sm) ≥576px */
@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}
/* Medium (md) ≥768px */
@media (min-width: 769px) {
    .container {
        width: 720px;
    }
}
/* Large (lg) ≥992px */
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}
/* Extra large (xl) ≥1200px */
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}
/* Extra extra large (xxl) ≥1400px */
@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}